.header_container {
  background-attachment: fixed;
  background-image: url("../../../assets/img_slider/slider.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
