.navbar_container {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;

  p {
    color: $white;

    &:hover {
      color: aquamarine;
    }
  }

  img {
    height: 100px;
    margin-top: 20px;
    width: 100px;
  }
}
